@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');
body{
    overflow-x: hidden;
}
body, h1,h2,h3,h4,h5,h6,a,p,li{
    font-family: 'Dosis', sans-serif;
}
/*App sitting*/
.white-color{
    color: #fff !important;
}
.over-h{
    overflow: hidden;
    margin-top: 132%;
    position: absolute;
    height: 75vw;
    width: 100%;
}
.black-color{
    color: #000 !important;
}
.clip-5-content p{
    font-size: 16px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 71vw;
}
.skwe-1 {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: -20vw;
    transform: skew(0deg, -20.5deg);
    -webkit-transform: skew(0deg, -20.5deg);
    -ms-transform: skew(0deg, -20.5deg);
    -o-transform: skew(0deg, -20.5deg);
    -moz-transform: skew(0deg, -20.5deg);
    height: 79vw;
    overflow: hidden;
}
.clip-1{
    height: 80vw;
    width: 100%;
    background: url(../image/clip-1.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 10;
    top: 20vw;
    transform: skew(0deg, 20.5deg) !important;
    -webkit-transform: skew(0deg, 20.5deg) !important;
    -ms-transform: skew(0deg, 20.5deg) !important;
    -o-transform: skew(0deg, 20.5deg) !important;
    -moz-transform: skew(0deg, 20.5deg) !important;
}
.clip-2{
    height: 100%;
    width: 100%;
    background: url(../image/clip-2.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 3;
    right: 0;
    margin-top: calc(42% + 5px);
    transform: skew(0deg, -50.5deg);
}
.skwe-2 {
    width: 49%;
    height: 69vw;
    background-size: 100%;
    position: absolute;
    z-index: 7;
    right: 0;
    overflow: hidden;
    margin-top: calc(22% + -7px);
    transform: skew(0deg, 50.5deg);
    -webkit-transform: skew(0deg, 50.5deg);
    -ms-transform: skew(0deg, 50.5deg);
    -o-transform: skew(0deg, 50.5deg);
    -moz-transform: skew(0deg, 50.5deg);
}
.skwe-3{
    transform: skew(0deg, 16.5deg);
    -webkit-transform: skew(0deg, 16.5deg);
    -ms-transform: skew(0deg, 16.5deg);
    -o-transform: skew(0deg, 16.5deg);
    -moz-transform: skew(0deg, 16.5deg);
    height: calc(46vw - 9px);
    margin-top: calc(60% + 5px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 6;
    background: #fff;
}
.clip-3{
    transform: skew(0deg, -16.5deg);
    -webkit-transform: skew(0deg, -16.5deg);
    -ms-transform: skew(0deg, -16.5deg);
    -o-transform: skew(0deg, -16.5deg);
    -moz-transform: skew(0deg, -16.5deg);
    height: 61vw;
    width: 100%;
    background: url(../image/clip-3.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.7s;
    left: 0;
    /*margin-top: calc(60% + 5px);*/
}
.clip-3:hover{
    background: url(../image/clip-3-1.png) top center !important;
    background-repeat: no-repeat;
    background-size: 100%;


}
.clip-4{
    height: 69vw;
    width: 100%;
    background: url(../image/clip-4.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin-top: 93%;
}

.skwe-5 {
    transform: skew(0deg, -16.5deg);
    -webkit-transform: skew(0deg, -16.5deg);
    -ms-transform: skew(0deg, 16.5deg);
    -o-transform: skew(0deg, 16.5deg);
    -moz-transform: skew(0deg, 16.5deg);
    position: absolute;
    height: 35vw;
    z-index: 16;
    left: 0;
    right: 0;
    margin-top: 15%;
}
.clip-5{
    height: 74vw;
    top: -15vw;
    width: 101%;
    -webkit-transform: skew(0deg, 16.5deg) !important;
    background: url(../image/clip-5.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
}
.clip-6{
    height: 45vw;;
    width: 100%;
    background: url(../image/clip-6.png) top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    margin-top: calc(175% - 5px);
}

.clip-2-content{
    position: absolute;
    top: 21vw;
    right: 0;
    left: 0;
    text-align: center;

}

.clip-1 .posr,
.clip-2 .posr,
.clip-3 .posr,
.clip-4 .posr,
.clip-5 .posr,
.clip-6 .posr{
    width: 100%;
    height: 100%;
}
/* Start Header*/
.navbar{
    position: absolute;
    width: 100%;
    z-index: 15;
}
.top-phone{

    padding-left: 17px;
    border-left: 2px solid #7a5489;
}
.navbar-default .navbar-nav > li > a {
    color: #aa8fb1;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #f5ae37;
}
.navbar-collapse i{
    position: absolute;
    font-size: 32px;
    left: -5px;
    top: 7px;
    color: #fff;
}
.navbar-default{
    background-color: transparent;
}
.navbar,
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0;
}
.navbar-default .navbar-toggle {
    border-color: #ee9a22;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ee9a22;
}
navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.32);
}


@media only screen and (max-width : 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background-color: #6f427e;
        text-align: center;
    }
    .navbar-default .navbar-nav > li > a{
        color: #fff;
        font-size: 14px;
    }
    .logo-larg{
        display: none;
    }
}
/*/////*/
.clip-1-content,
.clip-2-content,
.clip-3-content,
.clip-4-content,
.clip-5-content,
.clip-6-content{
    position: absolute;
}
.clip-1-content{
    left: 0;
    right: 0;
    top: 22vw;
}
.clip-4-content{
    top: 24vw;
    left: 0;
    right: 0;
}
.clip-5-content{
    top: 24vw;
    left: 0;
    right: 0;
}
.clip-6-content{
    top: 9vw;
    left: 0;
    right: 0;
}

.clip-1-content h3,
.clip-2-content h3,
.clip-3-content h3,
.clip-4-content h3,
.clip-5-content h3{
    font-weight: 700;
    font-size: 32px;
}
.clip-1-content h2{
    font-weight: 700;
    font-size: 56px;
}
a.btn-learn-more{
    background-color: #cc2b66;
    color: #fff;
    padding: 8px 22px;
    font-size: 16px;
    padding-right: 25px;
    text-transform: uppercase;
}
.clip-3-content a.btn-learn-more{
    background-color: #ee9a22 !important;
}
.btn-learn-more i{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
}
.clip-3-content{
    left: 0;
    right: 0;
    top: 20vw;
    padding-right: 17vw;
}
a.scroll-down{
    position: absolute;
    left: 0;
    right: 0;
    top: 41vw;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 2px solid #805b88;
    border-radius: 50%;
    margin: 0 auto;
}
a.scroll-down i{
    color: #fff;
    font-size: 28px;
    line-height: 39px;
}
.border-img{
    width: 321px;
}
.clip-4-content p{
    color: #636363;
    font-size: 18px;
}
/*Slider*/
.carousel-control.left,
.carousel-control.right{
    background: transparent;
}
#quote-carousel blockquote{
    border: 0;
}
#quote-carousel .carousel-control{
    bottom: auto;
    width: 36%;
    text-shadow: none;
}
#quote-carousel .carousel-indicators {
    top: 20px;
    bottom: auto;
}
#quote-carousel .item{
    margin-top: 125px;
}
#quote-carousel .carousel-indicators li{
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 0 0 10px 3px  #888888;
    border-radius: 0;
    margin: 0 17px;
    background: #fff;
}
#quote-carousel .carousel-indicators li img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
#quote-carousel .item h3{
    color: #cc2b66;
    font-size: 20px;
    text-transform: uppercase;
}
#quote-carousel .item h4{
    font-size: 15px;
    color: #5a286a;
    font-weight: 600;
}
#quote-carousel .item p{
    font-size: 16px;
    color: #636363;
    font-style: italic;
    padding-top: 15px;
}
/*.carousel-indicators li.active{*/
    /*height: 80px !important;*/
    /*width: 80px !important;*/
    /*position: relative;*/
    /*top: 10px;*/
/*}*/
a.carousel-control i{
    color: #c7c7c7;
    font-size: 39px;
    position: relative;
}
a.carousel-control i:after{
    content: '';
    width: 180px;
    height: 1px;
    background: #d8d8d8;
    display: block;
    position: absolute;
}
i.fa-angle-left:after {
    left: 16px;
    top: 20px;
}
i.fa-angle-right:after {
    right: 16px;
    top: 20px;
}
.carousel-control{
    top: 0px;
}
.center-footer-col{
    margin-top: 9vw;
}
.left-footer-col h4,
.center-footer-col h4,
.center-footer-col2 h4{
    color: #fff;
    border-bottom: 1px solid #2b2b2b;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
.left-footer-col{
    padding-right:50px; ;
}
.left-footer-col ul{
    margin-top: 14px;
}
.left-footer-col ul li{
    padding: 5px 0;
    color: #909091;
}
.left-footer-col ul li a{
    color: #909091;
    transition: all 0.3s linear;
}
.left-footer-col ul li a:hover{
    color: #cc2b66;
    padding-left: 5px;
}
.footer-col-2{
    margin-top: 30px;
}
.git-in{
    margin-top: 12px;
}
.git-in button,
.git-in i.get-place{
    position: absolute;
}
i.get-place{
    color: #828282;
    top: 13px;
    font-size: 18px;
    left: 13px;
}
.git-in input{
    padding: 10px 10px 10px 40px;
    border: 0;
    height: 44px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    width: 100%;

}
.git-in{
    width: 80% !important;

}
.git-in button{
    background: #cc2b66;
    border: 0;
    color: #fff;
    width: 45px;
    height: 45px;
    right: -3px;
    top: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.git-in button i{
    font-size: 34px;
}
.social-list li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.social-list li:not(:last-child){
    margin-right: 10px;
}
.social-list li a{
    display: block;
    background: #242424;
    color: #929292;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: all 0.3s;
}
.social-list li a:hover{
    background: #5a286a;
    color: #fff;
}
.center-footer-col2{
    margin-top: 30px;
}
.logo-footer{
    margin-top: 5vw;
}
.logo-footer {
    margin: 0 auto;
    margin-top: 13vw;
    max-width: 218px;

}
.copy p{
    color: #909091;
}
.copy{
    margin-top: 66px;
}
a.back-top i{
    font-size: 30px;
}
@media only screen and (max-width : 1023px){
    .clip-4,
    .clip-5,
    .clip-6{
        background: none;
    }
    .clip-5-content{
        background-color: #f6f6f6;
        padding: 50px 0;

    }
    .clip-6-content{
        background-color: #171717;
    }

}


@media only screen and (min-width : 768px) {
    .navbar-default {
        border: none;
        margin-top: 45px;
    }



    .clip-4-content p{
        color: #636363;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        width: 88%;
    }

    .nav > li > a{
        padding: 10px 20px;
    }

    .navbar > .container .navbar-brand{
        margin: 0;
        padding: 0;
        height: auto;
        margin-top: -21px;
        margin-left: 90px;
    }
    .navbar-brand img{
        max-height: 130px;
    }
    .logo-small{
        display: none;
    }
}
@media only screen and (max-width : 768px){
    .clip-6-content{
        padding: 50px 0;
    }
    .skwe-3{
        margin-top: calc(60% + 1px);
    }
    .clip-6{
        margin-top: calc(192% - 5px);;
    }
    .left-footer-col{
        padding-right:0px;
    }
    .skwe-5{
        margin-top: -10vw;
    }
    .over-h{
        height: 52vw;
        margin-top: 161%;

    }
    .git-in{
        margin: 0 auto;
        margin-top: 15px;
    }
    .logo-footer {
        margin: 0 auto;
        margin-top: 6vw;
        max-width: 218px;
    }
    .clip-5{
        width: 100%;
    }
    #quote-carousel .carousel-indicators li{
        display: none;
    }
    .clip-6-content{
        text-align: center;
        padding: 50px 0;
    }
    .carousel-indicators li.active{
        /*display: block !important;*/
        /*margin: 0 auto !important;*/
    }


    .clip-5{
    }

    .clip-4-content p{
        font-size: 13px;
    }
    .clip-1-content h3,
    .clip-2-content h3,
    .clip-3-content h3,
    .clip-4-content h3,
    .clip-5-content h3
    {
        font-weight: 700;
        font-size: 25px;
    }

    .clip-1-content h2 {
        font-weight: 700;
        font-size: 44px;
    }
}

@media only screen and (max-width : 480px) {
    .clip-6{
        margin-top: 224%;
    }
    .over-h{
        height: 87vw;
    }
    a.btn-learn-more{
        padding: 6px 9px;
        padding-right: 18px;
        font-size: 10px;
        margin-top: 15px !important;
    }
    .border-img {
        width: 194px;
    }
    .btn-learn-more i{
        top: 6px;
        right: 8px;
    }
    .clip-2-content{
        top: 18vw;
        right: 5px;
        left: auto;
    }
}
@media only screen and (max-width : 414px){
    /*.clip-1{*/
        /*height:337px;*/
    /*}*/
    /*.clip-2{*/
        /*height: 328px;*/
    /*}*/
    /*.clip-3{*/
        /*height: 478px;*/
    /*}*/
    .clip-1-content h3,
    .clip-2-content h3,
    .clip-3-content h3,
    .clip-4-content h3,
    .clip-5-content h3{
        font-weight: 700;
        font-size: 16px;
    }
    .clip-5 {
        margin-top: 0;
    }
    .clip-1-content h2 {
        font-weight: 700;
        font-size: 28px;
    }


}
@media only screen and (max-width : 375px){

    .clip-6 {
        margin-top: 251%;
    }
    .over-h{
        height: 99vw;
    }

}
@media only screen and (max-width : 320px){
    /*.clip-1{*/
        /*height: 257px;*/
    /*}*/
    /*.clip-2{*/
        /*height: 257px;*/
    /*}*/
    .over-h {
        height: 136vw;
    }
    .clip-6 {
        margin-top: 282%;
    }
    .clip-1-content h3,
    .clip-2-content h3,
    .clip-3-content h3,
    .clip-4-content h3,
    .clip-5-content h3{
        font-weight: 700;
        font-size: 14px;
    }
    .clip-1-content h2 {
        font-weight: 700;
        font-size: 24px;
    }
}
@media only screen and (min-width : 767px) and (max-width:1200px) {
    .navbar > .container .navbar-brand{
        margin-left: 0;
    }


}
@media only screen and (min-width : 1023px) and (max-width:1200px) {
    .clip-5-content {
        top: 22vw;
        left: 0;
    }
    .left-footer-col ul li{
        padding: 2px 0;
    }
    .footer-col-2{
        margin-top: 10px;
    }

}
.social-list li {
    width: 40px;
    border-radius: 50%;
    height: 40px;
}
.social-list li a {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
}
.flat-portfolio .item img{
    height: 243px;
    width: 100%;
}

@media only screen and (max-width: 1366px){
    .flat-portfolio .portfolio-details {
        padding: 20px 0 0 50px;
    }
}
.carousel{
    top: -27vw;
}
.carousel-caption{
    top: 45%;
}
.carousel-caption p{
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}